.meme--inputs{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
}

input{
    width: 230px;
    height: 35px;
    border:1px solid #D5D4D8;
    border-radius: 5px;
}

.meme--submit-button{
    background-image: linear-gradient(to right,  #672280, #AB2DBF);
    width:477px;
    margin-top:15px;
    color:white;
    border-radius: 5px;
    border:none;
    height: 40px;
    font-family: Karla;
}
.meme--submit-button:hover{
    cursor: pointer;
}

.memeImg{
    margin-top:20px;
    max-width:400px;
    height:400px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top{
    top: 0;
}

.bot{
    bottom:0;
}
.meme {
    position: relative;
}