.header{
    background-image: linear-gradient(to right,  #672280, #AB2DBF);
    display:flex;
    color:white;
    padding:15px;
    align-items: center;
    
}

.header--troll{
    width:32px;
    height:27px;
    margin-right:15px;
    
}

.header--h3{
    font-family: Karla;
    font-size: 20px;
    margin-right:auto;
}

.header--h4{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    
    
    
}
.header > h3{
    margin-top: 0;
    margin-bottom: 0;
}
